h3{
    color: magenta;
}
p{
    color: blue;
}
header{
    height: 200px;
    background-image: url(img/footer-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    background-blend-mode: multiply;
}
.that{
    color: #0b3a35;
    text-align: center;
}
.that p{
    color: #e22b2b;
    text-align: left;
}